.booking-selection {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    background-color: #323232;
    box-shadow: 2px 2px 10px rgb(0 0 0);
    text-align: left;
}

.form-control{
    margin: 20px 0;
}

.booking-selection label {
    font-weight: bold;
}

.booking-selection input, 
.booking-selection select {
    padding: 10px 10px 10px 0;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 1rem;
    width: 100%;
    color:white;
}
option{
    background-color: #414141;
}
input::placeholder{
    color:#ccc;
}
.booking-selection input:focus,
.booking-selection input:active,
.booking-selection input:visited,
.booking-selection input:hover,
.booking-selection input:focus-within,
.booking-selection input:focus-visible,
.booking-selection input:target
{
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-radius: 0;
    outline:none;
}
.booking-selection select:focus,
.booking-selection select:active,
.booking-selection select:visited,
.booking-selection select:hover,
.booking-selection select:focus-within,
.booking-selection select:focus-visible,
.booking-selection select:target {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-radius: 0;
    outline:none;
}
.booking-selection button {
    margin-top: 20px;
    margin-bottom:40px;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-selection button:hover {
    opacity:0.7;
}
/*Validation styles*/
.error {
    color: red;
    font-size: 0.6em;
}
input.error-border {
     border-bottom: 2px solid red;
}