/* Reset and General Styling */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    flex-grow: 1;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    gap: 10px;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: #ff9800;
}

/* Main Content Styling */
main {
    flex: 1;
    overflow-y: auto;
    margin-top: 60px; /* Adjusted to avoid header overlap */
    text-align:center;
    background-color: #222;
    color:white;
}

h1 {
    color: white;
    font-size: 3em;
}

section {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;

}

img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        padding: 0;
    }
    nav ul li {
        margin: 5px 0;
    }
    main {
        padding: 80px 10px 60px; /* Adjust for smaller screens */
    }
    img {
        width: 100%;
        height: auto;
    }
}
